*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    border:2px solid brown;
    padding:10px 20px;
}
.login{
    display: flex;
    flex-direction: column;
    gap:10px;
}